<section>
  <h1>Blogroll</h1>
  <p>
  <ul>
    <li>
    <a href="http://linux.xidian.edu.cn/"> 西电开源社区 </a>
    </li>
    <li>
    <a href="http://adam8157.info/"> Adam's </a><span class="twitter-friend">@adam8157</span>
    </li>
    <li>
    <a href="http://asxzy.net/"> 龍蝦的书房 </a><span class="twitter-friend">@asxzy</span>
    </li>
    <li>
    <a href="http://daiwei.de/"> Whatever</a><span class="twitter-friend">@butternofly </span>
    </li>
    <li>
    <a href="http://notimportant.org/"> Not Important </a><span class="twitter-friend">@seansay</span>
    </li>
    <li>
    <a href="http://xwz.me/blog"> 逆跑 </a><span class="twitter-friend">@carl_xwz</span>
    </li>
    <li>
    <a href="http://www.dadong.us/"> @dadongwang </a>
    </li>
    <li>
    <a href="http://ggarlic.org/">ggarlic的blog </a><span class="twitter-friend">@ggarlic</span>
    </li>
    <li>
    <a href="http://hawkyo.net/"> hawkyo's blog </a><span class="twitter-friend">@_hawkyo</span>
    </li>
    <li>
    <a href="http://icacker.info/">It is not a piece of cake </a><span class="twitter-friend">@icaker</span>
    </li>
    <li>
    <a href="http://kaesire.github.com/">Kai's Blog </a><span class="twitter-friend">@kasire</span>
    </li>
    <li>
    <a href="http://wocai.de/b">我猜的</a><span class="twitter-friend">@kokdemo</span>
    </li>
    <li>
    <a href="http://localhost-8080.com/">考据癖</a><span class="twitter-friend">@localhost_8080</span>
    </li>
    <li>
    <a href="http://xmartin.org/"> Martin's Blog </a><span class="twitter-friend">@Martin0418</span>
    </li>
    <li>
    <a href="http://blog.mfs6174.org/">有顶天实验室</a><span class="twitter-friend">@mfs6174</span>
    </li>
    <li>
    <a href="http://sun11.tk/wordpress/">11zOctopress</a><span class="twitter-friend">@sunus11</span>
    </li>
    <li>
    <a href="http://xzjh.tk/">Hello World!</a><span class="twitter-friend">@xzjh</span>
    </li>
    <li>
    <a href="http://imzzh.com/"> 牛仔博客 </a>
    </li>

  </ul>
  </p>
</section>
